
.nav-container {
  height: 100%;
  h2{
    padding-left: 20px;
  }
}

.content { padding: 10px;}

.toggle-button {
  width: 100%;
  background-color: white;
  z-index: 5;
  position: sticky;
  top: -1px;
}
