:host {
  width: 100%;
}

.input {
  width: 100%;
}


.comments {
  padding: 10px;
}

.comment {
  .text {
    margin-bottom: 2px;
  }

  .author {
    font-weight:500;
    margin-bottom: 1px;
  }

  .date {
    color: grey;
    font-size: small;
  }
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
