:host {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color:white;
  padding: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin-bottom: auto;
}

button {
  background-color: whitesmoke;
  text-decoration: underline;
  margin: 3px;
}

.filter-input {
  margin-left: 5px;
  margin: 3px;
}

mat-selection-list {
  max-height: 350px;
  overflow: auto;
}
