@{
    ViewBag.Title = "Home Page";
}
<script src="~/signalr/hubs"></script>

<style>

    .games {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items:center;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tag {
        margin: 3px;
        padding: 2px;
        background-color: #eee;
        border-radius: 3px;
    }

    .tagify {
        border-radius:4px;

    }

    .card {
        color: black;
        background-color: white;
        padding: 10px;
        margin: 10px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
        border-radius: 5px;
        width: 200px;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

</style>

<script id="games-template" type="text/x-handlebars-template">

    {{#each this}}
    <a href="/Game/Index/{{Id}}" id="{{Id}}">
        <div class="card">
            <h3>{{GameName}}</h3>
            <div class="tags">
                {{#each Tags}}
                <div class="tag">
                    {{this}}
                </div>
                {{/each}}
            </div>
        </div>
    </a>
    {{/each}}

</script>

<main class="container text-center">
    <h1>Tic-Tac-Toe</h1>

    <form class="form-inline" method="post" action="/Game/Index">
        <div class="form-group">
            <label for="gamename">Game Name</label><br>
            <input type="text" class="form-control" name="gamename" placeholder="Game Name" required />
        </div><br><br>
        <div class="form-group">
            <label for="tags">Game Tags</label>
            <input name='tags' required>
        </div><br><br>
        
        <input id="createGame" type="submit" class="btn btn-primary" value="Create Game"/>
    </form>

    <div id="games" class="games"></div>
</main>


<script type="text/javascript">
    $(function () {

        var input = document.querySelector('input[name=tags]');

        // initialize Tagify on the above input node reference
        new Tagify(input, {
            maxTags: 10
        })

        var input = document.querySelector('input[name=tags4]'),
            tagify = new Tagify(input);

        const gameHub = $.connection.gameHub;

        gameHub.client.showGames = function (players) {
            var template = Handlebars.compile($('#games-template').html());
            $('#games').html(template(players));
        };

        // Enables username and find game inputs
        function enableInput() {
            $('#gamename').removeAttr('disabled');
            $('#createGame').removeAttr('disabled');
        };

        // Disables username and find game inputs
        function disableInput() {
            $('#gamename').attr('disabled', 'disabled');
            $('#createGame').attr('disabled', 'disabled');
        };

        // Open a connection to the server hub
        $.connection.hub.logging = true; // Enable client side logging
        $.connection.hub.start().done(function () {
            // Enable the find game button
            enableInput();
        });
    })
</script>