.nav-container {
  height: 100%;
}

.input-field {
  margin-top: 10px;
}

.content {
  overflow: auto;
  height: 100%;
}

.toggle-button {
  white-space: normal;
  @media screen and (max-width: 600px){ width: 100%;;}
}

::ng-deep.ql-container {
  height: calc(100% - 170px);
  @media screen and (min-width: 600px) {
    height: calc(100% - 100px);
  }
}

quill-editor {
  height: calc(100% - 48px);
  @media screen and (min-width: 600px) {
    height: calc(100% - 48px - 36px);
  }
}

.editor {
  padding: 10px 0;
  height: calc(100% - 50px);
  width: 100%;
}

.chap-list {
  padding: 10px;
}

.list {
  min-width: 250px;
  @media screen and (min-width: 600px) {
    min-width: 300px;
  }
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.chapter {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.chapter:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .chapter:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
